<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
	<title>${title}</title>
	<!--
    	compile the css via lessjs - dev-mode
    -->
    	<link href="resources/theme/less/main.less" rel="stylesheet/less" type="text/css" />
    <!-- 
		hint: in production include the the compiled css
    	<link href="resources/theme/css/main.css" rel="stylesheet" type="text/css" />
    -->
    
    <!--[if lt IE 9]>
    	<script src="resources/theme/js/html5shiv.js"></script>
    <![endif]-->

</head>
<body>
	
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">${title}</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="jumbotron">
		<div class="container">
			<h1>Hello, ${title}-Template!</h1>
			<p>${description}</p>
			<p><a class="btn btn-primary btn-lg" href="http://getbootstrap.com/getting-started">Learn more »</a></p>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2>Getting started</h2>
				<p>Build your HTML and customize the less-files in resources/theme/less</p>
			</div>
			<div class="col-lg-4">
				<h2>Don't touch!</h2>
				<p>Don't touch the files in resources/theme/less/bootstrap! They will be overwritten on the next update</p>
			</div>
			<div class="col-lg-4">
				<h2>Ready for Bootstrap 3.0</h2>
				<p>Learn <a href="http://getbootstrap.com/getting-started/#migration">how to upgrade</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h2>Development Mode</h2>
				<p>For development the less files are compiled by <a href="http://www.lesscss.de/">less.js</a></p>
			</div>
			<div class="col-lg-4">
				<h2>Production Mode</h2>
				<p>Once you've finished just build the war with maven. The less files will be compiled with the <a href="https://github.com/marceloverdijk/lesscss-maven-plugin">lesscss-maven-plugin</a></p>
			</div>
			<div class="col-lg-4">
				<h2>War Overlay</h2>
				<p>Include the war in your application as a <a href="http://maven.apache.org/plugins/maven-war-plugin/overlays.html">war overlay</a></p>
			</div>
		</div>
	
		<hr>
	
		<footer>
			<p>Version: ${version}</p>
		</footer>
		
	</div>
	
    <script src="resources/theme/js/jquery.min.js"></script>
    <!-- you won't need the less.min.js in production -->
    <script src="resources/theme/js/less.min.js"></script>
    <script src="resources/theme/js/bootstrap.min.js"></script>
</body>
</html>	